* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background: #F3F3F3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

header {
  text-align: center;
  text-transform: uppercase;
  overflow: auto;
  background: #4A95D2;
}

.images {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.images .image {
  padding: 10px;
  width: 50%;
}

@media (min-width: 696px) {
  .images .image {
    width: 33.333%;
  }

  .container {
    width: 85%;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  .images .image {
    width: 25%;
  }

  .container {
    width: 70%;
  }
}

.image img {
  width: 100%;
}
